.wrapper {
  width: 100%;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 6px 12px;

  line-height: var(--line-height-m);
  color: var(--color-light-100);

  background-color: transparent;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  outline: none;

  &::placeholder {
    color: var(--color-light-900);
  }

  &[type="password"] {
    padding-right: 36px;
  }

  &:hover {
    outline: 1px solid var(--color-light-900);
  }

  &:focus {
    outline: 2px solid var(--color-primary-500);

    &.inputError {
      border: 1px solid var(--color-dark-100);
    }
  }

  &:active {
    background-color: var(--color-dark-500);
    outline: 1px solid var(--color-light-100);

    &::placeholder {
      color: transparent;
    }
  }

  &:disabled {
    pointer-events: none;

    &::placeholder {
      color: var(--color-dark-100);
    }
  }
}

.inputError {
  border-color: var(--color-danger-500);
}

.label {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-light-900);

  .disabled & {
    color: var(--color-dark-100);
  }
}

.errorText {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-danger-500);
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  color: var(--color-light-900);

  & ~ .input {
    padding-left: 41px;
  }

  .disabled & {
    color: var(--color-dark-100);
  }
}

.eyeButton {
  all: unset;

  cursor: pointer;

  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  width: 24px;
  height: 24px;

  color: var(--color-light-100);

  .disabled & {
    pointer-events: none;
    color: var(--color-dark-100);
  }
}
