.button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;
  width: 180px;
  height: 35px;
  text-align: center;

  &:focus-visible {
    outline: 2px solid lightcoral;
    outline-offset: 2px;
  }
}

.fullWidth {
  width: 100%;
}

.primary {
  color: var(--color-light-100);
  background-color: var(--color-primary-500);
}

.primary:active {
  color: var(--color-light-500);
  background-color: var(--color-primary-700);
}

.primary:hover {
  color: var(--color-light-100);
  background-color: var(--color-primary-100);
  transition: 0.2s ease-in-out;
}

.primary:focus {
  border: 2px solid var(--color-primary-700);
}

.primary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-primary-900);
}

.secondary {
  color: var(--color-light-100);
  background-color: var(--color-dark-300);
}

.secondary:active {
  color: var(--color-light-100);
  background-color: var(--color-dark-500);
}

.secondary:hover {
  color: var(--color-light-100);
  background-color: var(--color-dark-100);
}

.secondary:focus {
  border: 2px solid var(--color-primary-300);
}

.secondary:disabled {
  color: var(--color-light-900);
  background-color: var(--color-dark-500);
}

.tertiary {
  color: var(--color-primary-500);
  border: 1px solid var(--color-primary-500);
}

.tertiary:active {
  color: var(--color-primary-700);
  border: 1px solid var(--color-primary-700);
}

.tertiary:hover {
  color: var(--color-primary-100);
  border: 1px solid var(--color-primary-100);
}

.tertiary:focus {
  color: var(--color-primary-700);
  border: 2px solid var(--color-primary-700);
}

.tertiary:disabled {
  color: var(--color-primary-900);
  border: 1px solid var(--color-primary-900);
}

.link {
  width: 100px;
  height: 36px;
  color: var(--color-primary-500);
  text-decoration: none;
}

.link:active {
  color: var(--color-primary-700);
}

.link:hover {
  color: var(--color-primary-100);
}

.link:focus {
  color: var(--color-primary-500);
  border: 2px solid var(--color-primary-700);
  border-radius: 2px;
}

.link:disabled {
  color: var(--color-primary-900);
}

.icon {
  width: 115px;
  height: 36px;
  background-color: var(--color-dark-300);
  border-radius: 2px;
}

.icon::before {
  content: attr(data-icon); /* Unicode символ для иконки */
  margin-right: 8px; /* Отступ между иконкой и текстом */
  font-size: 1.2em; /* Размер иконки */
}
