/* Специфичные классы для цветов */
.color-primary-100 {
  color: var(--color-primary-100);
}

.color-primary-300 {
  color: var(--color-primary-300);
}

.color-primary-500 {
  color: var(--color-primary-500);
}

.color-primary-700 {
  color: var(--color-primary-700);
}

.color-primary-900 {
  color: var(--color-primary-900);
}

.color-success-100 {
  color: var(--color-success-100);
}

.color-success-300 {
  color: var(--color-success-300);
}

.color-success-500 {
  color: var(--color-success-500);
}

.color-success-700 {
  color: var(--color-success-700);
}

.color-success-900 {
  color: var(--color-success-900);
}

.color-danger-100 {
  color: var(--color-danger-100);
}

.color-danger-300 {
  color: var(--color-danger-300);
}

.color-danger-500 {
  color: var(--color-danger-500);
}

.color-danger-700 {
  color: var(--color-danger-700);
}

.color-danger-900 {
  color: var(--color-danger-900);
}

.color-warning-100 {
  color: var(--color-warning-100);
}

.color-warning-300 {
  color: var(--color-warning-300);
}

.color-warning-500 {
  color: var(--color-warning-500);
}

.color-warning-700 {
  color: var(--color-warning-700);
}

.color-warning-900 {
  color: var(--color-warning-900);
}

.color-dark-100 {
  color: var(--color-dark-100);
}

.color-dark-300 {
  color: var(--color-dark-300);
}

.color-dark-500 {
  color: var(--color-dark-500);
}

.color-dark-700 {
  color: var(--color-dark-700);
}

.color-dark-900 {
  color: var(--color-dark-900);
}

.color-light-100 {
  color: var(--color-light-100);
}

.color-light-300 {
  color: var(--color-light-300);
}

.color-light-500 {
  color: var(--color-light-500);
}

.color-light-700 {
  color: var(--color-light-700);
}

.color-light-900 {
  color: var(--color-light-900);
}

/* Специфичные классы для выравнивания текста */
.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.text-align-inherit {
  text-align: inherit;
}

.text-align-justify {
  text-align: justify;
}

/* Специфичные классы для толщины текста */
.font-weight-regular {
  @extend %font-regular;
}

.font-weight-medium {
  @extend %font-medium;
}

.font-weight-semi-bold {
  @extend %font-semi-bold;
}

.font-weight-bold {
  @extend %font-bold;
}

%typography {
  line-height: var(--line-height-m);
}

%font-regular {
  font-weight: var(--font-weight-regular);
}

%font-semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

%font-bold {
  font-weight: var(--font-weight-bold);
}

%font-medium {
  font-weight: var(--font-weight-medium);
}

%size-xs {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-s);
}

%size-s {
  font-size: var(--font-size-s);
}

%size-m {
  font-size: var(--font-size-m);
}

%size-l {
  font-size: var(--font-size-l);
}

%size-xl {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-l);
}

%size-xxl {
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-l);
}

%typography-link {
  color: var(--color-primary-500);
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

/* Специфичные классы для вариантов */
.regular14 {
  @extend %typography, %font-regular, %size-s;
}

.regular16 {
  @extend %typography, %font-regular, %size-m;
}

.large {
  @extend %typography, %font-semi-bold, %size-xxl;
}

.h1 {
  @extend %typography, %font-bold, %size-xl;
}

.h2 {
  @extend %typography, %font-bold, %size-l;
}

.h3 {
  @extend %typography, %font-semi-bold, %size-m;
}

.bold14 {
  @extend %typography, %font-bold, %size-s;
}

.bold16 {
  @extend %typography, %font-bold, %size-m;
}

.medium {
  @extend %typography, %font-medium, %size-s;
}

.small {
  @extend %typography, %font-regular, %size-xs;
}

.small-semi-bold {
  @extend %typography, %font-semi-bold, %size-xs;
}

.regular-link {
  @extend %typography-link, %font-regular, %size-s;
}

.small-link {
  @extend %typography-link, %font-regular, %size-xs;
}
