.button {
  cursor: pointer;

  position: relative;

  height: 36px;
  padding: 6px 12px;

  background-color: transparent;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition:
    width 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

  &:focus {
    background-color: var(--color-dark-500);
    outline: 2px solid var(--color-primary-700);
  }
}

.button_disabled {
  cursor: default;
  background-color: var(--color-dark-500);
}

.single {
  width: 158px;
}

.range {
  width: 262px;
}

.button:hover {
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-100);
}

.button_active {
  background: var(--dark-500);
  border: 1px solid var(--color-dark-300);
  transition:
    width 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.button_error {
  border: 1px solid var(--color-danger-500);
}

.dateFormatter {
  font-size: 16px;
  line-height: 150%;
  color: var(--color-light-100);
}

.wrapper {
  display: flex;
  flex-direction: column;
}
