.overlay {}

.content {}

.closeIcon {}

.srOnly {}

.header {}

.body {
  padding: 18px 24px 36px;
}

.footer {}

.title {}

.description {
  line-height: var(--line-height-m);
  color: var(--color-light-100);
}